body {
  background-color: #415848;
}

nav a,
h2 {
  color: #fff;
  font-family: "Noto Sans JP", sans-serif;
}

nav ul li {
  padding: 10px;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}
a:hover {
  background: bisque;
  color: black;
}

a {
  text-decoration: none;
  padding: 10px;
}

ul {
  float: right;
  margin-top: 50px;
  margin-right: 100px;
  margin-bottom: 50px;
}

h2 {
  float: left;
  font-size: 30px;
  margin-left: 20px;
}

/* inserts element after the container (in this case the nav) */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.hero {
  padding-top: 500px;
  margin-left: 500px;
  margin-top: -450px;
}

.hero button {
  font-size: 16px;
  font-family: "Noto Sans JP", sans-serif;
  padding: 15px;
}
.hero p {
  font-size: 16px;
  font-family: "Noto Sans JP", sans-serif;
  color: #fff;
}
