body {
  background-color: #415848;
}

nav a,
h2 {
  color: #fff;
  font-family: "Noto Sans JP", sans-serif;
}

nav ul li {
  text-decoration: none;
  display: inline-block;
}
a:hover {
  color: bisque;
}

a {
  text-decoration: none;
}
