* {
  box-sizing: border-box;
}

body {
  background-color: #415848;
}

nav a,
h2 {
  color: #fff;
  font-family: "Noto Sans JP", sans-serif;
}

nav ul li {
  padding: 10px;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}
a:hover {
  background: bisque;
  color: black;
}

a {
  text-decoration: none;
  padding: 10px;
}

ul {
  float: right;
  margin-top: 50px;
  margin-right: 100px;
  margin-bottom: 50px;
}

h2 {
  float: left;
  font-size: 30px;
  margin-left: 20px;
}

/* inserts element after the container (in this case the nav) */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.hero {
  padding: 650px 50px 50px 50px;
  background-image: url("../assets/the-harlem-hellfighters.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 1200px;
  height: 800px;
  margin: 0 auto;
}

.hero button {
  font-size: 16px;
  font-family: "Noto Sans JP", sans-serif;
  padding: 15px;
}
.hero p {
  font-size: 16px;
  font-family: "Noto Sans JP", sans-serif;
  background-color: rgba(1, 1, 0.5, 0.6);
  color: #fff;
  margin-bottom: 25px;
}

.learnMore {
  height: 50px;
  width: 100px;
  background-color: white;
  border-radius: 5px;
  font-family: "Noto Sans JP", sans-serif;
}

p {
  font-family: "Noto Sans JP", sans-serif;
  color: white;
  display: inline-block;
  font-size: 18px;
}
.harlem-boat {
  display: inline-block;
}
.motto {
  margin: 100px 50px 0px 0px;
}
